<!DOCTYPE html>
<html lang="en">
    <head>
        <title>about</title>
        
    </head>
    <body>
        <a href="/" style="padding: 10px 20px; text-decoration: none; border-radius: 5px;">Home</a>
        <h1>About The Dataset</h1>
    </body>
    
    </html>
    <style>
        h1 {
             font-family: Arial, sans-serif;
             font-size: 36px;
             text-align: center;
           }

    </style>
    
<body>

<p><strong>Description:</strong>
    The dataset contains information collected from an online food ordering platform over a period of time. It encompasses various attributes related to Occupation, Family Size, Feedback etc..
</p>
<p>The Source of this data: <a href= "https://www.kaggle.com/datasets/matheusfonsecachaves/popular-video-games" target="_blank">Source Link</a></p>

<p><strong>Variables Information:</strong></p>
<p>Title: Title of games.<br>
Release_Date: Release Date of Games.<br>
Developers: Companies/Developers of the game.<br>
Summary: Summary of the game.<br>
Platforms: Platforms of the game.<br>
Genres: The genre of the games.<br>
Rating: Rating of the game from 0 to 5.</p>

</body>
</html>